.disputeDetails .spanWithSvgInside > svg {
  margin-right: var(--spacing-8);
  vertical-align: text-bottom;
}

.disputeDetails .scales > path {
  fill: var(--purple-primary);
}

.disputeDetails .accordion div:global(.card-header.closed)::after {
  content: "＋";
  float: right;
}

.disputeDetails .accordion div:global(.card-header.open)::after {
  content: "—";
  float: right;
}
