$purple-primary: #4d00b4;
$purple-light: #fbf9fe;
$purple-dark: #1e075f;
$blue-primary: #009aff;
$blue-secondary: #7bcbff;
$blue-accent: rgba(0, 154, 255, 0.06);
$pink-light: #f2f2f2;
$text-primary: rgba(0, 0, 0, 0.85);
$text-secondary: rgba(0, 0, 0, 0.45);
$stroke: #ccc;
$grey-light: #fafafa;
$grey-dark: #6c6c6c;
$orange: #ff9900;
$red: #f60c36;
$green: #00c42b;

$grid-columns: 24;
$enable-validation-icons: false;
$form-feedback-valid-color: blue;
$font-weight-bold: 600;
$input-color: $text-primary;
