.navbar {
  background-color: #1e075f;
  color: white;
}

.dark-blue-inverted {
  color: #1e075f;
}

.purple {
  background-color: #4004a3;
  color: white;
}

.purple-inverted {
  color: #4004a3;
}

.blue {
  background-color: #009aff;
  color: white;
}

.blue-inverted {
  color: #009aff;
}

.card {
  background-color: #f2e3ff;
}
