html {
  background-color: #f2e3ff;
}

body {
  margin-top: 80px;
}

.navbar {
  background-color: #1e075f;
  color: white;
}

.dark-blue-inverted {
  color: #1e075f;
}

.purple {
  background-color: #4004a3;
  color: white;
}

.purple-inverted {
  color: #4004a3;
}

.blue {
  background-color: #009aff;
  color: white;
}

.blue-inverted {
  color: #009aff;
}

.container-fluid {
  background-color: #f2e3ff;
}

.card {
  background-color: #f2e3ff;
  background: white;
  box-shadow: 0px 6px 36px #bc9cff;
}

.card-body {
  border-radius: 12px;
}

.card-header {
  background-color: #4004a3;
  color: white;
  /* TITLE */

  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;

  color: #ffffff;
}

#root > div > div > div.card > div.card-header > img {
  margin-right: 20px;
  width: 68px;
}

#root > div > div > div.card {
  margin-bottom: 30px;
}

hr {
  border-top: 5px solid #009aff;
  margin-top: 0;
}

#subcourt-dropdown {
  text-align: left;
  background-color: white;
  color: #4d00b4;
}

#initialNumberOfJurors {
  color: #4d00b4;
}

#category {
  color: #4d00b4;
}

#title {
  color: #4d00b4;
}
#description {
  color: #4d00b4;
}

#question {
  color: #4d00b4;
}

#firstRulingOption {
  color: #4d00b4;
}

#firstRulingDescription {
  color: #4d00b4;
}

#secondRulingOption {
  color: #4d00b4;
}

#secondRulingDescription {
  color: #4d00b4;
}

#primaryDocument {
  color: #4d00b4;
}

button::after {
  float: right;
  margin: 10px 0;
}
