#root {
  height: 100%;
}

body {
  background-color: #f2e3ff;
  font-family: Roboto, sans-serif;
  height: 100%;
}

html {
  background-color: #f2e3ff;
  height: 100%;
}

.main-content {
  height: 100%;
}

input[type="text"] {
  height: auto;
}

body > div.confirmation.modal label {
  margin-bottom: 0;
}

body > div.modal > div > div > div.modal-body > form > div > div > div > input,
body > div.modal > div > div > div.modal-body > form > div > div > div > p {
  font-weight: 600;
}

.card > .card-header + hr {
  background-color: #009aff;
  color: #009aff;
  border-style: solid;
  border-width: medium;
}

.navbar {
  background-color: #1e075f;
  color: white;
}

.dark-blue-inverted {
  color: #1e075f;
}

.purple {
  background-color: #4004a3;
  color: white;
}

.purple-inverted {
  color: #4004a3;
}

.purple-2 {
  background-color: #4d00b4;
  color: white;
}

.purple-2-inverted {
  color: #4d00b4;
}

.blue {
  background-color: #009aff;
  color: white;
}

.blue-inverted {
  color: #009aff;
}

.blue-2 {
  background-color: #00aaff;
  color: white;
}

.blue-inverted-2 {
  color: #00aaff;
}

button.return {
  background-color: transparent;
  border-color: #4d00b4;
  color: #4d00b4;
}

button.ok {
  background: #009aff;
  border-radius: 3px;
  color: white;
  opacity: 0.9;
  transition: opacity 1s;
}

button.ok:hover {
  background: linear-gradient(109.65deg, #009aff 45.81%, #63c1ff 82.89%);
  opacity: 1;
}

.container-fluid {
  background-color: #f2e3ff;
}

.card {
  border-radius: 12px;
  background-color: #f2e3ff;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 4vh;
  border: unset;
}

.card-body {
  padding: 2rem;

  background-color: white;
  border-radius: 12px;
  box-shadow: 0px 6px 36px #bc9cff;
}

.card-header {
  box-shadow: 0px 6px 36px #bc9cff;
  border-top-left-radius: 12px !important;
  border-top-right-radius: 12px !important;
  background-color: #4004a3;
  color: white;
  /* TITLE */

  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;

  color: #ffffff;

  cursor: pointer;
}

div.card-header > img {
  margin-right: 1rem;
  width: 68px;
}

#root > div > div > div.card {
  margin-bottom: 30px;
}

form > hr {
  border-top: 2px solid #4d00b4;
  margin-bottom: 25px;
}

#subcourt-dropdown {
  text-align: left;
  background-color: white;
  color: #4d00b4;
}

label {
  color: #4d00b4;
}

button::after {
  float: right;
  margin: 10px 0;
}

#dropzone {
  border-style: dashed;
  border-color: #4d00b4;
  background-color: #f5f1fd;
}

.vertical-center {
  min-height: 100%; /* Fallback for browsers do NOT support vh unit */
  min-height: 100px; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
  justify-content: center;
}

#dropzone > div > p,
#dropzone > div > h1,
#dropzone > div > h2,
#dropzone > div > h3,
#dropzone > div > h4,
#dropzone > div > h5,
#dropzone > div > h6 {
  text-align: center;
  margin: 0;
}

.form-group > input,
.form-group > textarea,
body > div.confirmation.modal > div > div > div.modal-body > form > div:nth-child(4) > div > div > p,
.markdown * {
  color: #4d00b4;
}

.markdown > p {
  font-weight: normal !important;
}

body > div.modal > div > div > div.modal-body > form > div > div > div > input,
input:read-only {
  font-weight: 600;
  background-color: unset !important;
  border-color: #4d00b4;
}

body > div.modal > div > div > div.modal-body > form {
  background-color: #f5f1fd;
  border-radius: 12px;
  padding: 15px;
}
4 #fund-modal-form {
  background-color: white;
  border-radius: 12px;
  padding: 15px;
}

body > div.modal > div > div > div.modal-body > form > div:nth-child(9) > div > div > a {
  color: #4d00b4;
}

body > div.modal > div > div > div.modal-header {
  background-color: #4d00b4;
  color: white;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.modal-content {
  border-radius: 16px;
}

.modal-footer {
  border-style: none;
}

#root > div > div:nth-child(2) > div > div.card-body > form > div:nth-child(5) > div:nth-child(1) > div {
  height: 100%;
}
/* #description {
  height: inherit;
} */

blockquote {
  color: #666;
  margin: 0;
  padding-left: 1em;
  border-left: 0.5em #eee solid;
}

.abs-center-x {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.abs-end-x {
  position: absolute;
  left: 90%;
  transform: translateX(-50%);
}

footer {
  position: absolute;
  bottom: 0;
}

#footer {
  background-color: #4d00b4;
  height: 72px;
  margin-top: 30px;
}

#footer > * {
  font-weight: 500;
}

#footer > * > * > * {
  color: white;
  font-weight: 500;
}

#footer,
#header {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 0;
  margin-right: 0;
}

.container-fluid {
  padding: 0;
}

.nav-item {
  width: max-content;
}

#responsive-navbar-nav > div.abs-end-x.navbar-nav > div:nth-child(1) > a {
  color: white;
}

#dispute-detail-footer > div:first-child {
  background: linear-gradient(57.16deg, #1e075f 29.65%, #4d00b4 76.51%);
  color: white;
}

#dispute-detail-footer > div:nth-of-type(2) {
  background: #1e075f;
  height: 80px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.breadcrumb {
  background-image: "../arrow.svg";
}

a > svg {
  margin-right: 1rem;
  color: #4d00b4;
  width: 4rem;
  height: auto;
}

div > a > svg {
  margin: 0;
}

i > svg {
  vertical-align: baseline;
}

#header > a > svg {
  width: 14rem;
  height: minHeight;
}

body > div.modal > div > div > div.modal-body > form > div:nth-child(11) > div > div > a > svg {
  width: 1.5rem;
  height: auto;
}

#root > div > div > div > div.card > div.card-body > form > div:nth-child(3) > div > div > div.card-footer > a > svg {
  width: 2rem;
  height: auto;
}

.markdown {
  height: inherit;
  padding: 0.375rem 0.75rem;
}

span.input-group-text {
  background-color: transparent;
  border-style: none;
  transform: scale(2);
  align-self: center;
}

.warning {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #4d00b4;
}

.crowfunding-card {
  border-radius: 12px;
  box-shadow: 0px 6px 36px rgba(24, 0, 255, 0.25);
}

#dropzone > div > h5 {
  color: #4d00b4;
}

.font-weight-500 {
  font-weight: 500;
}

.progress {
  background-color: #009aff;
  border-radius: 30px;
}

.display-title {
  /* Car insurer did not pay for the repair. Should it be paid? */

  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 2rem;

  color: #4d00b4;
}
.accordion > .card:last-of-type {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.progress-bar {
  padding: 0 6px;
}

button:disabled {
  cursor: not-allowed !important;
}

.fund-modal-ruling-option:hover {
  background: #f5f1fd;
}

input:read-only:focus {
  outline: 0 none;
  box-shadow: none;
  color: #4d00b4;
}

div.confirmation.modal input {
  background-color: red;
  border: none;
  padding-left: 0;
}

input.form-control {
  border: 1px solid #d09cff;
  box-sizing: border-box;
  border-radius: 3px;
}

.iframe-container {
  overflow: hidden;
  position: relative;
  padding-top: 25vh;
}

@media only screen and (max-width: 750px) {
  .iframe-container {
    padding-top: 45vh;
  }
}

.iframe-container iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
