:root {
  --color-purple-primary: #4d00b4;
  --color-purple-light: #fbf9fe;
  --color-purple-dark: #1e075f;
  --color-blue-primary: #009aff;
  --color-blue-secondary: #7bcbff;
  --color-blue-accent: rgba(0, 154, 255, 0.06);
  --color-pink-light: #f2f2f2;

  --color-text-primary: rgba(0, 0, 0, 0.85);
  --color-text-secondary: rgba(0, 0, 0, 0.45);
  --color-text-primary: #ccc;

  --color-grey-light: #fafafa;
  --color-grey-dark: #6c6c6c;

  --color-orange: #ff9900;
  --color-red: #f60c36;
  --color-green: #00c42b;

  --spacing-8: 8px;
  --spacing-16: 16px;
  --spacing-32: 32px;
  --spacing-64: 64px;
  --spacing-128: 128px;

  --bold: 600;

  --border-radius: 3px;
}

header,
footer {
  background-color: var(--color-purple-primary) !important;
}

footer {
  color: white;
}

main {
  background-color: var(--color-pink-light);
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.85);
}

.card-header {
  padding: var(--spacing-8) var(--spacing-16);
  background-color: var(--color-purple-primary);
  color: white;
  border-radius: 3px;
}

.card-body {
  padding: var(--spacing-16) var(--spacing-16);
}
